window-rule {
	match app-id="qutebrowser"
	match app-id="firefox"
	match app-id="code"
	match app-id="^editor$" 
	// TODO: Check if that works
	match app-id="^Minecraft*$"

	open-maximized true
}

window-rule {
    match app-id="^kitty$"
	match app-id="^editor$" 
	match is-active=false app-id="^Spotify$"
    background-effect {
        blur true
    }
}

window-rule {
	match is-active=false app-id="^Spotify$"
	opacity 0.84
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

